<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS_KeyboardTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7AD6B7D01E97446D005F26EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AD6B7E41E97446E005F26EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AD6B7EF1E97446E005F26EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
